#######################################################
						     ##						
THIS SERVER HOSTNAME IS {{ ansible_hostname }}	     ##
						     ##
THIS SERVER INSTALLED WITH {{ ansible_os_family }}   ## 
						     ##
						     ##
#######################################################

